{% extends 'homepage.html' %}
{% load static %}

{% block title %}
Cart
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block content %}
<script>
const CSRF_TOKEN = '{{ csrf_token }}';
</script>
<div>
<ul class="cart">
{% for cart_item in cart %}
	<li class="product" id="item-{{ cart_item.id }}">
    {% if cart_item.product.image %}
            <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" style="max-width:200px; height:auto;">
            {% else %}
            <em>No image available</em>
    {% endif %}
        <div class="details">
            <h3>{{ cart_item.product.name }} </h3>
            <button onclick="updateQuantity({{ cart_item.id }},'minus')">-</button>
            <p id="quantity-{{ cart_item.id }}">{{ cart_item.quantity }}</p>
            <button onclick="updateQuantity({{ cart_item.id }},'plus')">+</button>
            <span class="price">{{ cart_item.product.price }} € / ks</span>
        </div>
    <div class="finalprice">
        <span id="total-{{ cart_item.id }}">{{ cart_item.get_total_price }} €</span>
    </div>
    </li>

{% endfor %}
 <li>

     <div class="finalprice">
    Celkom: <span id="total-sum">0</span> €
</div>
     <button type="submit">Zaplatiť</button>
    </li>
</ul>
</div>

{% endblock %}


