{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Login & Sign up</title>
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
</head>
<body>
    <h1 class="main-heading">Login & Sign up</h1>

    <div class="form-wrapper">
        <div class="form-box">
            <h2>Sign up</h2>
            <form method="post" action="{% url 'signup' %}" class="form-centered">
                {% csrf_token %}
                {{ signup_form.as_p }}
                <button type="submit" class="nav-btn">Sign up</button>
            </form>
        </div>

        <div class="form-box">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}" class="form-centered">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="nav-btn">Login</button>
            </form>
            <p style="text-align: center; margin-top: 10px;">
                <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
            </p>
        </div>
    </div>
</body>
</html>
