{% extends 'homepage.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products.css' %}">
<link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}

{% block content %}
<div class="contact-form-container">
    <h2>Get in Touch</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
</div>

<div id="success-message" class="success-message" style="display: none;">
    Thank you! Your message has been sent successfully.
</div>

<div class="contact-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10420.084046975497!2d20.2120732004821!3d49.194830099529284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1750701807152!5m2!1ssk!2ssk"
        allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
{% endblock %}