.cart {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
  margin: auto;

}

div.message {
  background-color: red;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  text-align-last: center ;
}

.cart .product {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.cart .product:hover {
  background-color: #f1f1f1;
}

.cart .product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.cart .product .quantity {
  flex: 1;
}

.cart .product h3 {
  margin: 0;
  font-size: 16px;

}

.cart .product p {
  margin: 5px 0;
  font-size: 14px;
}

.cart .product .price {
  font-weight: lighter;

}
.cart .finalprice {
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
}
.total_sum{
  font-weight: bold;
  font-size: 20px;
  text-align-last: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnn{
    background-color: #fd8700;
    color: white;
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}