.cart {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
  margin: auto;

}

div.message {
  background-color: red;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  text-align-last: center ;
}

.cart .product {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.cart .product:hover {
  background-color: #f1f1f1;
}

.cart .product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.cart .product .quantity {
  flex: 1;
}

.cart .product h3 {
  margin: 0;
  font-size: 16px;

}

.cart .product p {
  margin: 5px 0;
  font-size: 14px;
}

.cart .product .price {
  font-weight: lighter;

}
.cart .finalprice {
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
}
.total_sum{
  font-weight: bold;
  font-size: 20px;
  text-align-last: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnn{
    background-color: #fd8700;
    color: white;
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: Garamond, serif;
    font-weight: 700;}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 600;
    font-size: 14px;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid #eee;
    border-radius: 5px;
    font-family: Garamond, serif;
    font-size: 16px;
}




